
<%- include ('partials/header') %>

<div id="main2" class="container rounded-lg shadowBox">

    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="navbar-brand">STRØM DIGITAL</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Forsiden 
            <a class="nav-item nav-link active" href="/omMeg">Om Meg</a> <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/tjenester">Tjenester</a>
            <!-- <a class="nav-item nav-link" href="/portfolio">Portfolio</a> -->
            <a class="nav-item nav-link" href="/kontakt">Kontakt</a>
          </div>
        </div>
      </nav>
      <div id="content2" class="container">
        <div class="row d-flex justify-contents-center">
            <div id="titleAndPic" class="col-12 col-lg-6">
                    <h1>Om Meg</h1>
                    <div class="pic shadowBox rounded-circle"></div>
            </div>
            <div id="description" class="col-12 col-lg-6">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum aliquid tempore fuga aut distinctio neque. Iste quasi, qui voluptatem ab quia saepe laboriosam corrupti. Aperiam iusto maiores totam minima doloremque architecto esse, dicta illo reprehenderit corrupti iure officiis minus consectetur adipisci quidem natus ipsum? Quidem, illo. Optio recusandae nulla quis alias ipsam maxime, doloremque praesentium ullam incidunt quae adipisci enim reprehenderit architecto culpa, ex quia quos consequuntur distinctio ab voluptas. Nihil inventore blanditiis possimus accusamus eligendi debitis! Perspiciatis, quisquam! Magni laborum doloribus debitis unde eveniet, quibusdam nesciunt quidem, soluta at, quas doloremque. Quibusdam minus blanditiis excepturi quis repellendus, porro et?</p>
            </div>

        </div>
        </div>
        
      </div>

</div>


<%- include ('partials/footer') %>
