
<%- include ('partials/header') %>

<div id="main2" class="container rounded-lg shadowBox">

    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="navbar-brand">STRØM DIGITAL</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Forsiden 
            <a class="nav-item nav-link" href="/omMeg">Om Meg</a> <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="/tjenester">Tjenester</a>
            <!-- <a class="nav-item nav-link" href="/portfolio">Portfolio</a> -->
            <a class="nav-item nav-link" href="/kontakt">Kontakt</a>
          </div>
        </div>
      </nav>
      <div id="content2" class="container">
        <div class="row">
            <div id="titleAndPic" class="col-12">
                    <h1>TJENESTER</h1>
            </div>
            <div id="description" class="col-12">
                    
            </div>

        </div>
        </div>
        
      </div>

</div>


<%- include ('partials/footer') %>
