
body {
    background: url("../img/henry-co-tqu0IOMaiU8-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Sawarabi Gothic', sans-serif;

}

#main {
    display: none;
    margin: 10% auto;
    min-height: 500px;
    width: 90%;
    border: 1px solid rgb(191, 191, 191);
    background-color: rgba(218, 218, 218, 0.7);
}

.navbar {
    position: relative;
    font-size: 20px;
    border-bottom: 2px solid grey;
}

#content {
    
    position: relative;
    text-align: center;
    font-size: min(max(30px, 9vw), 115px);
}

#forsiden {
    font-family: "Julius Sans One", sans-serif;
    color: rgb(138, 138, 138);
    margin: 20% auto;
}

.shadowBox {
    box-shadow:     0px 6px 5px rgba(80, 80, 80, 0.4),
                    0px 10px 15px rgba(77, 77, 77, 0.1),
                    0px 20px 25px rgba(89, 89, 89, 0.1);
}