
body {
    background: url("../img/henry-co-tqu0IOMaiU8-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Sawarabi Gothic', sans-serif;

}

#main1 {
    display: none;
    margin: 10% auto;
    min-height: 450px;
    width: 90%;
    border: 1px solid rgb(191, 191, 191);
    background-color: rgba(218, 218, 218, 0.7);
}

#main2 {

    display: none;
    margin: 150px auto;
    min-height: 500px;
    width: 90%;
    border: 1px solid rgb(191, 191, 191);
    background-color: rgba(218, 218, 218, 0.7);
}

.navbar {
    margin: 0px -15px;
    padding: 15px 30px;
    font-size: 20px;
    border-bottom: 2px solid grey;
    transition: background-color 1s ease;
    outline: none;
}

.fadeColour {
    background-color: rgba(216,216,216,0.8);
}

#content2 {
    text-align: center;
}

#forsiden {
    padding-top: 60px;
    width: fit-content;
    font-size: min(max(30px, 8vw), 115px);
    font-family: "Julius Sans One", sans-serif;
    color: rgb(174, 174, 174);
    text-shadow: 0px -2px 0px rgba(60, 60, 60, 0.4); /* 50% black coming from the top */
}

.blurb {
    font-size: 20px;
    float: left;
    padding-top: 20px;
    transition: display 5s ease;
    text-shadow: 0px -1px 0px rgba(60, 60, 60, 0.5);

}

#titleAndPic {
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
    padding-top: 50px;
    font-family: "Julius Sans One", sans-serif;
    color: rgb(138, 138, 138);
    font-size: min(max(30px, 4vw), 35px);
}

#takkText {
    width: fit-content;
    height: fit-content;
    margin-top: 70px;
    padding-top: 50px;
    font-family: "Julius Sans One", sans-serif;
    color: rgb(138, 138, 138);
    font-size: min(max(30px, 4vw), 35px);
}

.pic {
    background: url("../img/synnePic1.png");
    width:250px;
    height: 250px;
    margin: 30px auto;
    padding:10px;
}

#description {
    margin-top: 20px;
    padding-top: 50px;
    padding-bottom:25px;
    text-align: center;
    width: fit-content;
    height: fit-content;
    font-size: min(max(30px, 2vw), 19px);
}

#kontaktform {
    font-family: 'Sawarabi Gothic', sans-serif;
    font-size: 15px;
    padding: 20px 0px;
}

input {
    text-align: center;
    width: 380px;
    margin: 10px;
    outline: none;
}

#typeBox {
    margin: 10px;
    text-align: center;
    height: 300px;
    padding-top: 10px;
}

.shadowBox {
    box-shadow:     0px 6px 5px rgba(80, 80, 80, 0.4),
                    0px 10px 15px rgba(77, 77, 77, 0.1),
                    0px 20px 25px rgba(89, 89, 89, 0.1);
}

 button , .btn-secondary {
    outline: none;
}

#takkBtn {
    margin: 30px;
}

 #tilbake {
    margin: 50px;
    color: white;
 }

 footer {
     position: absolute;
     bottom: 0;
 }
 